
<h1>Information about the author</h1>
<p>On Wednesday the 10th of February I will be attending Rails Girls Next 2016.</p>
<p>This exercise is about refreshing the knowledge from Rails Girls 2015 and my personal learnings since then.</p>
